@model IEnumerable<Store.WebApp.Models.Order>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>
<form asp-action="Search" method="get">
    Search: <input type="search" name="search" />
    <button type="submit">Submit</button>
</form>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.UserName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TotalPizza)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LoName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PizzaName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TotalAmount)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DatePlaced)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TimePlaced)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalPizza)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LoName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PizzaName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DatePlaced)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimePlaced)
            </td>
            <td>
                @*<a asp-action="Edit" asp-route-id="@item.Id">Edit</a>*@ |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                @*<a asp-action="Delete" asp-route-id="@item.Id">Delete</a>*@
            </td>
        </tr>
}
    </tbody>
</table>
